/* -------------------------------------------------
 * Variant-calling Nextflow config file
 * ------------------------------------------------
*/

// Global default params, used in configs

params{
	outdir = '/node/cohort4/allan/variant-calls/variant-calling-pipeline/GATK/Output'
	total_reads = '/data/variant_calling/decontaminated_reads/Tryps_T_congolese/Tryp-B87*{1,2}*.fastq'
	adapter = '/data/variant_calling/NexteraPE-PE.fa'
	reference = '/data/variant_calling/ref_genomes/TriTrypDB-52_TcongolenseIL3000_Genome.fasta'
	knownsites = '/data/variant_calling/decontaminated_reads/Tryps_T_congolese/known_sites.vcf'
	tracedir = "${params.outdir}/pipeline_report"
}

timeline {
enabled = true
file = "${params.tracedir}/execution_timeline.html"
}

report {
enabled = true
file = "${params.tracedir}/execution_report.html"
}

dag {
enabled = true
file = "${params.tracedir}/pipeline_dag_graph.png"
}

trace {
enabled = true
file = "${params.tracedir}/execution_trace.txt"
fields = "task_id,name,process,status,exit,submit,duration,realtime,%cpu,rss"
}

manifest {
name = "Variant_calling"
author = "Rose, Hebrew"
description = "GATK Variant calling workflow"
homePage = "https://github.com/mbbu/Assessing-Variant-Calling-Pipelines"
mainScript = "main.nf"
nextflowVersion = ">=20.10.0"
}
