/*------------------------------------------------------------
 * Configuration file for variant calling pipeline
 * -----------------------------------------------------------
*/

// set required parameters
/* params.outdir =
   params.reads = 
   params.adapter =
   params.ref_genome = 
   params.known_sites = 
   params.tracedir =
   params.report =  
*/
// input metadata
manifest {
	name = "variant calling pipeline"
	author = "Joyce Wangari and Okeyo Allan"
	description = "variant calling pipeline using GATK4 best practices"
	homePage = "https://github.com/mbbu/Assessing-Variant-Calling-Pipelines"
	mainscript = "main.nf"
	Nextflow version = ">=20.10.0"
	}

trace {
	enabled = True
	file = "${params.tracedir}/trace_report.txt"
	}
timeline {
	enabled = True
	file = "${params.report}/pipeline_report.html"
	overwrite = True
	}
dag {
	enabled = True
	file = "${params.report}/dag_graph.png"
	}

profiles {
	standard {
		process.container = "url to the docekr hub container"
		}
	docker {
		process.container = "url to the docekr hub container"
		docker.enabled = True
		}
	singularity {
		process.container = "url to the docekr hub container"
		singularity.enabled = True
		}
	batch {
		process.container =  "url to the docekr hub container"
		process.memory = 10.GB
		process.queue = "sbatch"
		process.executor = "slurm"
		process.cpu = 8
		}
	}
	
